@page "/blog"
@inject DataContext Context
@* @attribute [StreamRendering] *@
@rendermode @(new InteractiveServerRenderMode(prerender:false))

@* // By default Prerendering is enabled in webAsseembly and Blazor Server in .Net 8
// The page is initially rendered on th server and the server will send th static html to th client
// (This is the first result we see), After that we see the loading message and again th result. 
 *@
<PageTitle>Blog</PageTitle>
<h3>Blog</h3>

@if(posts.Count == 0)
{
    <p><em>Loading Blog Posts....</em></p>
}
else
{
    <a href="edit-article">Create new  article </a>
    
@foreach(var post in posts)
{
<div>
    <p>@post.Title</p>
    <p>@post.PublishedDate</p>
    <p>@post.Content</p>
    <a href="/article/@post.Id">Read More</a>
</div>
    
}
}

@code {
    List<BlogPost> posts = new List<BlogPost>();

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(1000);
        posts = await Context.BlogPosts.ToListAsync();
    }
}